<!DOCTYPE html>
<html>
{include file="public/head" /}
<body class="extra-body">
<div class="form-header">会员注册</div>
<!--头部-->
<script src="__JS__/jquery.form.js"></script>
<!--主要内容-->
<div class="m-regForm">
    <div class="regBox">
        <p class="back-home"><a href="{:url('home/index/index')}"><i class="iconfont icon-icon-home2"></i> 返回首页</a></p>
        <form action="{:url('home/member/register')}" method="post" id="register">
            <div class="content">
                <div class="u-input noMg">
                    <label>会员帐号</label>
                    <div class="inputWrapper">
                        <input type="text" class="text" name="account" placeholder="请输入会员账号"  maxlength="34">
                    </div>
                </div>
                <div class="u-input">
                    <label>手机号码</label>
                    <div class="inputWrapper">
                        <input type="text" class="text" name="mobile" placeholder="请输入您的手机号码" maxlength="34">
                    </div>
                </div>
                <div class="u-input">
                    <label>密码</label>
                    <div class="inputWrapper">
                        <input type="password" class="text" name="password" placeholder="6-20个字符，区分大小写" autocomplete="new-password" onpaste="return false;" maxlength="20">
                    </div>
                </div>
                <div class="u-input">
                    <label>确认密码</label>
                    <div class="inputWrapper">
                        <input type="password" class="text" name="repassword" placeholder="6-20个字符，区分大小写" autocomplete="new-password" onpaste="return false;" maxlength="20">
                    </div>
                </div>
                <div class="u-input verifyCode">
                    <label>验证码</label>
                    <div class="inputWrapper">
                        <input class="text" type="text" name="code" placeholder="请输入验证码" autocomplete="off" maxlength="4">
                        <img src="{:url('form/code_img')}" class="codeImg" onclick="this.src='{:url(\'form/code_img\')}?time='+Math.random();" alt="看不清,请单击"/>
                    </div>
                </div>
            </div>
            <div class="bottomBar">
                <button class="u-bigBtn" type="submit">免费注册</button>
            </div>
        </form>
        <div class="toLogin">
            已有帐号？<a href="{:url('home/member/login')}" >直接登录</a>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('#register')[0].reset();
    $(function(){
        $('#register').ajaxForm({
            beforeSubmit: checkForm,
            success: complete,
            dataType: 'json'
        });
        function checkForm() {
            $('.u-bigBtn').attr("disabled", "disabled");
        }
        function complete(data){
            if(data.code == 1){
                layer.alert(data.msg, {icon: 6, shade: 0.5, closeBtn: 0}, function(index){
                    layer.close(index);
                    $('#register')[0].reset();
                    window.location.href="{:url('home/member/login')}";
                });
            }else{
                layer.msg(data.msg, {icon: 5,time:2000,shade: 0.5}, function(index){
                    $('.u-bigBtn').removeAttr("disabled");
                    layer.close(index);
                });
                return false;
            }
        }
    });
</script>
<div class="m-wave">
    <ul class="wave-item item1">
        <li class="wave-bg wave-bg1"></li>
        <li class="wave-bg wave-bg1"></li>
    </ul>
    <ul class="wave-item item2">
        <li class="wave-bg wave-bg2"></li>
        <li class="wave-bg wave-bg2"></li>
    </ul>
    <ul class="wave-item item3">
        <li class="wave-bg wave-bg3"></li>
        <li class="wave-bg wave-bg3"></li>
    </ul>
</div><script type="text/javascript">	$(function(){    	mWave.init();    });	/* 波浪动画模块 */	var mWave = (function(){		var $dom = $('.m-wave');		function init(){			start($dom.find('.wave-item.item1'), 150000);			start($dom.find('.wave-item.item2'), 140000);			start($dom.find('.wave-item.item3'), 30000);		}		function start($target, speed){			var halfWidth = parseInt($target.width() / 2);			$target.animate({'marginLeft': - halfWidth + 'px'}, speed, 'linear', roll);			function roll(){				$target.css('marginLeft', 0);				$target.animate({'marginLeft': - halfWidth + 'px'}, speed, 'linear', roll);			}		}		return {			init: init		}	})();	/* 波浪动画模块 end */</script>
<div class="extra-footer">
    <div class="box-wrap">
        {$config.web_site_copy}
    </div>
</div>
{include file="public/onlineqq" /}
</body>
</html>
