{include file="public/header" /}
<body class="gray-bg">
<style type="text/css">
    .long-td .cate_name .updateText{display:block;}
</style>
<div class="wrapper wrapper-content animated fadeInRight">
    <!-- Panel Other -->
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>导航列表</h5>
        </div>
        <div class="ibox-content">
            <!--搜索框开始-->           
            <div class="row">
                <div class="col-sm-12">   
                <div class="col-sm-2 ibox-tit">
                    <div class="input-group" >  
                        <a href="{:url('add_nav')}"><button class="btn btn-warning" type="button">添加导航</button></a>
                    </div>
                </div>                                                                    
                </div>
            </div>
            <!--搜索框结束-->
            <div class="hr-line-dashed"></div>

            <div class="example-wrap">
                <div class="example">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr class="long-tr">
                                <th width="6%">ID</th>
                                <th>导航名称</th>
                                <th width="6%">排序</th>
                                <th width="12%">内容来源</th>
                                <th width="12%">所属模型</th>
                                <th width="8%">状态</th>
                                <th width="25%">操作</th>
                            </tr>
                        </thead>
                        <tbody id="article_list">
                            {foreach name="applet_nav" item="vo"}
                                <tr class="long-td">
                                    <td>{$vo.id}</td>
                                    <td class="cate_name edit-td"><div class="updateText" onclick="toggleInput(this,{$vo.id},'name','applet_nav')">{$vo.name}</div></td>
                                    <td class="edit-td"><div class="updateText" data-check="number" onclick="toggleInput(this,{$vo.id},'sortnum','applet_nav')">{$vo.sortnum}</div></td>
                                    <td>{$vo.cate_name}</td>
                                    <td>{$vo.cateStyle_name}</td>

                                    <td>
                                        <input type="checkbox" name="status" data-id="{$vo.id}" data-table="applet_nav" class="lcs_check lcs_switch lcs_sm" {if $vo.status eq 1}checked{/if}/>
                                    </td>
                                    <td>
                                        <a href="{:url('edit_nav',['id'=>$vo.id])}" class="btn btn-blue btn-outline btn-xs">
                                            <i class="fa fa-pencil"></i> 编辑</a>&nbsp;&nbsp;
                                        <a href="javascript:;" onclick="del_nav({$vo.id})" class="btn btn-danger btn-outline btn-xs">
                                            <i class="fa fa-trash-o"></i> 删除</a>   
                                    </td>
                                </tr>
                            {/foreach}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Panel Other -->
{include file="public/footer" /}

<script type="text/javascript">

function del_nav(id){
    layer.confirm('确认删除此导航?', {icon: 3, title:'提示'}, function(index){
        $.getJSON('./del_nav', {'id' : id}, function(res){
            if(res.code == 1){
                layer.msg(res.msg,{icon:1,time:1500,shade: 0.1},function(){
                    window.location.href="{:url('applet/nav_index')}";
                });               
            }else{
                layer.msg(res.msg,{icon:0,time:1500,shade: 0.1});
            }
        });
        layer.close(index);
    })
}
</script>
</body>
</html>