<div class="message-panel">
    <script src="__JS__/jquery.form.js"></script>
    <div class="form-area">
        <h2>在线留言</h2>
        <form action="{:url('home/form/message')}" method="post" id="message">
            <ul>
                <li class="clearfix">
                    <input name="name" type="text" size="30" maxlength="50" class="text name" placeholder="姓名"/>
                    <input name="phone" type="text" size="30" maxlength="50" class="text" placeholder="电话"/>
                </li>
                <li class="clearfix">
                    <input name="email" type="text" size="30" maxlength="50" class="text email" placeholder="电子邮箱"/>
                </li>
                <li class="clearfix">
                    <textarea name="content" rows="4" class="textarea" placeholder="请输入您的留言"></textarea>
                </li>
                <li class="clearfix">
                    <input name="code" type="text" size="12" maxlength="4" class="text code" placeholder="验证码"/>
                    <img src="{:url('form/code_img')}" class="codeImg" onclick="this.src='{:url(\'form/code_img\')}?time='+Math.random();" alt="看不清,请单击"/>
                </li>
                <li class="clearfix input-btn">
                    <input type="submit" value="提交" class="submitBtn" />
                    <input type="reset" value="重置" class="resetBtn" />
                </li>
            </ul>
        </form>
    </div>
    <script type="text/javascript">
        $('#message')[0].reset();
        $(function(){
            $('#message').ajaxForm({
                success: complete,
                dataType: 'json'
            });
            function complete(data){
                if(data.code == 1){
                    layer.alert(data.msg, {icon: 6, shade: 0.5, closeBtn: 0}, function(index){
                        layer.close(index);
                        $('#message')[0].reset();
                    });
                }else{
                    layer.msg(data.msg, {icon: 5,time:2000,shade: 0.5}, function(index){
                        layer.close(index);
                    });
                    return false;
                }
            }
        });
    </script>
</div>

