{include file="public/header" /}
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <!-- Panel Other -->
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Banner分类列表</h5>
        </div>
        <div class="ibox-content">
            <!--搜索框开始-->           
            <div class="row">
                <div class="col-sm-12">   
                <div class="col-sm-2 ibox-tit">
                    <div class="input-group" >  
                        <a href="{:url('add_cate')}"><button class="btn btn-primary" type="button">添加分类</button></a>
                    </div>
                </div>                                                                    
                </div>
            </div>
            <!--搜索框结束-->
            <div class="hr-line-dashed"></div>

            <div class="example-wrap">
                <div class="example">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr class="long-tr">
                                <th width="6%">ID</th>
                                <th>分类名称</th>
                                <th width="8%">排序</th>
                                <th width="12%">所属类型</th>
                                <th width="8%">状态</th>
                                <th width="25%">操作</th>
                            </tr>
                        </thead>
                        <tbody id="article_list">
                            {foreach name="cate" item="vo"}
                                <tr class="long-td">
                                    <td>{$vo.id}</td>
                                    <td class="cate_name edit-td"><div class="updateText" onclick="toggleInput(this,{$vo.id},'name','banner_cate')">{$vo.name}</div></td>
                                    <td class="edit-td"><div class="updateText" data-check="number" onclick="toggleInput(this,{$vo.id},'sortnum','banner_cate')">{$vo.sortnum}</div></td>
                                    <td>
                                        {switch name="vo.banner_type"}
                                            {case value="0"}PC站{/case}
                                            {case value="1"}手机站{/case}
                                            {case value="2"}小程序{/case}
                                            {default /}错误
                                        {/switch}
                                    </td>
                                    <td>
                                        <input type="checkbox" name="status" data-id="{$vo.id}" data-table="banner_cate" class="lcs_check lcs_switch lcs_sm" {if $vo.status eq 1}checked{/if}/>
                                    </td>
                                    <td>
                                        <a href="{:url('edit_cate',['id'=>$vo.id])}" class="btn btn-blue btn-outline btn-xs">
                                            <i class="fa fa-pencil"></i> 编辑</a>&nbsp;&nbsp;
                                        <a href="javascript:;" onclick="del_cate({$vo.id})" class="btn btn-danger btn-outline btn-xs">
                                            <i class="fa fa-trash-o"></i> 删除</a>   
                                    </td>
                                </tr>
                            {/foreach}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Panel Other -->
{include file="public/footer" /}

<script type="text/javascript">
$(function(){
    var wd = $('.cate_name').width();
    var span_wd = $('.cate_name span').outerWidth(true);
    $('.cate_name .updateText').width((wd-span_wd)*0.7);
});

function del_cate(id){
    layer.confirm('确认删除此分类?', {icon: 3, title:'提示'}, function(index){
        $.getJSON('./del_cate', {'id' : id}, function(res){
            if(res.code == 1){
                layer.msg(res.msg,{icon:1,time:1500,shade: 0.1},function(){
                    window.location.href="{:url('banner/index_cate')}";
                });               
            }else{
                layer.msg(res.msg,{icon:0,time:1500,shade: 0.1});
            }
        });
        layer.close(index);
    })
}
</script>
</body>
</html>