/*灰色系*/

a:hover,
a:active,
a:focus {
	color: #C6C6C6;
	text-decoration: none;
}


/*头部*/

.headTop div.fr a:hover {
	color: #B0B0B0;
}

.header .rig h5 {
	color: #C6C6C6;
}

.MainNav {
	background: #C6C6C6;

}

.MainNav li>a:hover,
.MainNav li a.current,
.MainNav li a.cur {
	background: #B0B0B0;
}

.mainNav-3 .nav>ul>li:hover>a,.mainNav-3 .nav>ul>li.active>a{background:#C6C6C6;color:#fff;}
.header-fix .mainNav-3{background:#C6C6C6;}
.header-fix .mainNav-3 .nav>ul>li:hover>a,
.header-fix .mainNav-3 .nav>ul>li.active>a{background:#fff;color:#C6C6C6;}
.mainNav-3 .nav .nav-item li:hover a{color:#C6C6C6;}

.MainNav .subNav {
	background: #B0B0B0;
}

.MainNav .subNav dt a:hover {
	background: #C6C6C6;
}

.HomeBan .hd li {
	background: #d2d1d1;
}

.HomeBan .hd li.on {
	background: #C6C6C6;
}


/*area-content*/

.col-hd-2 h3:after{
	background: #C6C6C6;
}

.col-hd-2 .m a:hover {
	color: #C6C6C6;
}

/*.col-hd-2 .m a:hover {
	background: #C6C6C6;
}*/

.col-hd-3 li.on {
	background: #C6C6C6;
}

/*.col-hd-3 .m a {
	background: #55b049;
}*/

.col-hd-3 .m a:hover {
	color: #C6C6C6;
}


/*search_box*/

.search_box .fl a:hover {
	color: #C6C6C6;
}

.search_form i {
	background: #C6C6C6;
}

.search_form i:hover {
	background: #55b049
}


/*首页tab栏目切换*/

.tab-pic-panel dl dt.on{
	background: #C6C6C6;
}

.tab-pic-panel dl dt.on span {
	color: #E5E5E5;
}


/*首页图片列表*/

.pic-list-panel .aprev:hover,
.pic-list-panel .anext:hover {
	color: #C6C6C6;
}

.pic-list-panel li:hover .intro:after,.focus-panel .hd li.on {
	background:#696969;
}


/*首页图文模式 */

.pic-txt-panel .txt .line {
	background: #55b049;
}

.pic-txt-panel .detail a:hover {
	border-color: #C6C6C6;
	color: #C6C6C6;
}


/*首页问答模式 */

.question-list-panel li .tit span {
	background: #C6C6C6;
}

.question-list-panel li .answer span {
	background:#B0B0B0;
}


/*页面底部通用*/

.footer a:hover {
	color: #C6C6C6;
}

.footer .copyright a:hover {
	color: #C6C6C6;
}


/*内页*/

.smallImg .p_list li.on {
	border: 2px solid #3C6FAF;
}

.product-show .online_qq a {
	background: #3C6FAF;
}

.sub-menu li a.active,
.sub-menu li a:hover {
	background: #C6C6C6;
}

.sub-menu li a.active span,
.sub-menu li a:hover span {
	color: #E5E5E5;
}

.sub-menu .lvl-third li a.active,
.sub-menu .lvl-third li a:hover {
	color: #C6C6C6;
}
.sidebar-item .sTit{background: #C6C6C6;}
.pagination a:hover {
	border: 1px solid #C6C6C6;
	color: #C6C6C6;
}

.pagination a.cur {
	border: 1px solid #C6C6C6;
	background: #C6C6C6;
	color: #fff;
}

.form-area h3 {
	color: #C6C6C6;
}

.form-area .input-btn input {
	background: #C6C6C6;
}

/*.picList li .pic:hover .mask,.tab-pic-panel .pic-box li .pic:hover .mask {
	background: #C6C6C6;
}*/

.picList li:hover .tit a {
	color: #C6C6C6;
}


.second-menu li:hover a,.second-menu li a.active,.first-menu li:hover a,.first-menu li a.active,.sub-menu h2{background: #C6C6C6;color:#fff;}
.second-menu li:hover a,.second-menu li a.active{border-color: #C6C6C6;}
.third-menu li:hover a,.third-menu li a.active{color: #C6C6C6;}

.tab-bar-tit{background:#C6C6C6;}

.MainNav-5{background:rgba(198, 198, 198,0.8);}
.MainNav-6{background:#C6C6C6;}

.MainNav-7 .nav>ul>li>a:before{background:#C6C6C6; }
.MainNav-7 .nav>ul>li:hover>a,.MainNav-7 .nav-1>ul>li.on>a{color:#C6C6C6;}
.MainNav-7 .subNav h4 a{color:#C6C6C6;}
.MainNav-7 .subNav dt a:hover{color:#C6C6C6;}