/*黄色系*/

a:hover,
a:active,
a:focus {
	color: #FFAF2B;
	text-decoration: none;
}


/*头部*/


.headTop div.fr a:hover {
	color:#FFAF2B;
}

.header .rig h5 {
	color: #FFAF2B;
}

.MainNav {
	background: #FFAF2B;

}

.MainNav li>a:hover,
.MainNav li a.current,
.MainNav li a.cur {
	background: #FFC058;
}

.MainNav-1 .nav-1>ul>li>a:before{background:#FFAF2B; }
.MainNav-1 .nav-1>ul>li:hover>a,.MainNav-1 .nav-1>ul>li.on>a,.MainNav-1 .nav-1 .nav-item li:hover a span,
.MainNav-1 .nav-1 .nav-item li:hover a i.iconfont{color:#FFAF2B;}

.mainNav-3 .nav>ul>li:hover>a,.mainNav-3 .nav>ul>li.active>a{background:#FFAF2B;color:#fff;}
.header-fix .mainNav-3{background:#FFAF2B;}
.header-fix .mainNav-3 .nav>ul>li:hover>a,
.header-fix .mainNav-3 .nav>ul>li.active>a{background:#fff;color:#FFAF2B;}
.mainNav-3 .nav .nav-item li:hover a{color:#FFAF2B;}

.MainNav .subNav {
	background: #FFC058;
}

.MainNav .subNav dt a:hover {
	background: #FFAF2B;
}

.HomeBan .hd li {
	background: #d2d1d1;
}

.HomeBan .hd li.on {
	background: #FFAF2B;
}


/*area-content*/

.col-hd-2 h3:after{
	background: #FFAF2B;
}

.col-hd-2 .m a:hover {
	color: #FFAF2B;
}

/*.col-hd-2 .m a:hover {
	background: #FFAF2B;
}*/

.col-hd-3 li.on {
	background: #FFAF2B;
}

/*.col-hd-3 .m a {
	background: #55b049;
}*/

.col-hd-3 .m a:hover {
	color: #FFAF2B;
}


/*search_box*/

.search_box .fl a:hover {
	color: #FFAF2B;
}

.search_form i {
	background: #FFAF2B;
}

.search_form i:hover {
	background: #55b049
}


/*首页tab栏目切换*/

.tab-pic-panel dl dt.on{
	background: #FFAF2B;
}

.tab-pic-panel dl dt.on span {
	color: #FFF;
}


/*首页图片列表*/

.pic-list-panel .aprev:hover,
.pic-list-panel .anext:hover {
	color: #FFAF2B;
}

.pic-list-panel li:hover .intro:after,.focus-panel .hd li.on{background:#FFAF2B;}


/*首页图文模式 */

.pic-txt-panel .txt .line {
	background: #55b049;
}

.pic-txt-panel .detail a:hover {
	border-color: #FFAF2B;
	color: #FFAF2B;
}


/*首页问答模式 */

.question-list-panel li .tit span {
	background: #FFAF2B;
}

.question-list-panel li .answer span {
	background:#FFC058;
}


/*页面底部通用*/

.footer a:hover {
	color: #FFAF2B;
}

.footer .copyright a:hover {
	color: #FFAF2B;
}


/*内页*/

.smallImg .p_list li.on {
	border: 2px solid #3C6FAF;
}

.product-show .online_qq a {
	background: #3C6FAF;
}

/*.picList li .pic:hover .mask,.tab-pic-panel .pic-box li .pic:hover .mask {
	background: #FFAF2B;
}*/

.picList li:hover .tit a {
	color: #FFAF2B;
}

.sub-menu li a.active,
.sub-menu li a:hover {
	background: #FFAF2B;
}

.sub-menu li a.active span,
.sub-menu li a:hover span {
	color: #FFF;
}

.sub-menu .lvl-third li a.active,
.sub-menu .lvl-third li a:hover {
	color: #FFAF2B;
}

.pagination a:hover {
	border: 1px solid #FFAF2B;
	color: #FFAF2B;
}

.pagination a.cur {
	border: 1px solid #FFAF2B;
	background: #FFAF2B;
	color: #fff;
}

.form-area h3 {
	color: #FFAF2B;
}

.form-area .input-btn input {
	background: #FFAF2B;
}

.second-menu li:hover a,.second-menu li a.active,.first-menu li:hover a,.first-menu li a.active,.sub-menu h2{background:#FFAF2B;color:#fff;}
.second-menu li:hover a,.second-menu li a.active{border-color:#FFAF2B;}
.third-menu li:hover a,.third-menu li a.active{color:#FFAF2B;}
.sidebar-item .sTit{background: #FFAF2B;}

.tab-bar-tit{background:#FFAF2B;}

.MainNav-5{background:rgba(255,175,43,0.8);}
.MainNav-6{background:#FFAF2B;}

.MainNav-7 .nav>ul>li>a:before{background:#FFAF2B; }
.MainNav-7 .nav>ul>li:hover>a,.MainNav-7 .nav-1>ul>li.on>a{color:#FFAF2B;}
.MainNav-7 .subNav h4 a{color:#FFAF2B;}
.MainNav-7 .subNav dt a:hover{color:#FFAF2B;}