{include file="public/header" /}
<body class="gray-bg">
<style type="text/css">
    .input-span{float:left; line-height: 34px;}
</style>
<div class="wrapper wrapper-content animated fadeInRight">
    <!-- Panel Other -->
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>留言列表</h5>
        </div>
        <div class="ibox-content">
            <!--搜索框开始-->           
            <div class="row">
                <div class="col-sm-12">
                    <form name="admin_list_sea" class="form-search" method="get" action="{:url('message')}">
                        <span class="input-span">姓名：</span>
                        <div class="col-sm-2" style="padding:0; margin-right:20px;">
                            <input type="text" id="name" class="form-control" name="name" value="{$name}"  />
                        </div>
                        <span class="input-span">联系电话：</span>
                        <div class="col-sm-2" style="padding:0; margin-right:20px;">
                            <input type="text" id="phone" class="form-control" name="phone" value="{$phone}" />
                        </div>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-blue" style="border-radius:3px;"><i class="fa fa-search"></i> 搜索</button>
                    </span>
                    </form>
                </div>
            </div>
            <!--搜索框结束-->
            <div class="hr-line-dashed"></div>
            <div class="example-wrap">
                <div class="example">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr class="long-tr">
                                <th width="4%">&nbsp;</th>
                                <th width="4%">序号</th>
                                <th width="9%">姓名</th>
                                <th width="9%">联系电话</th>
                                <th width="9%">邮箱</th>
                                <th width="30%">留言内容</th>
                                <th width="12%">留言时间</th>
                                <th width="7%">状态</th>
                                <th width="10%">操作</th>
                            </tr>
                        </thead>
                        <script id="list-template" type="text/html">
                            {{# for(var i=0;i<d.length;i++){  }}
                                <tr class="long-td">
                                    <td><input class="ids i-checks" type="checkbox" name="ids[]" data-page="{{d[i].page}}" value="{{d[i].id}}"></td>
                                    <td class="edit-td"><div class="updateText" data-check="number" onclick="toggleInput(this,{{d[i].id}},'sortnum','message')">{{d[i].sortnum}}</div></td>
                                    <td>{{d[i].name}}</td>
                                    <td>{{d[i].phone}}</td>
                                    <td>{{d[i].email}}</td>
                                    <td>{{d[i].content}}</td>
                                    <td>{{d[i].create_time}}</td>
                                    <td>
                                        {{# if(d[i].state==1){ }}
                                        已查看
                                        {{# }else{ }}
                                        <span style='color:#f60;'>未查看</span>
                                        {{# } }}
                                    </td>
                                    <td>
                                        <a href="javascript:;" onclick="view_message({{d[i].id}},{{d[i].page}})" class="btn btn-blue btn-xs btn-outline">
                                            <i class="fa fa-eye"></i> 查看</a>&nbsp;&nbsp;
                                        <a href="javascript:;" onclick="del_message({{d[i].id}},{{d[i].page}})" class="btn btn-danger btn-xs btn-outline">
                                            <i class="fa fa-trash-o"></i> 删除</a>
                                    </td>
                                </tr>
                            {{# } }}
                            <tr>
                               <td colspan="9" class="handle-tr">
                                   <a href="javascript:;" onclick="all_select()" class="btn btn-blue btn-sm">全选</a>
                                   <a href="javascript:;" onclick="inverse_select()" class="btn btn-blue btn-sm">反选</a>
                                   <a href="javascript:;" onclick="cancel_select()" class="btn btn-blue btn-sm">取消</a>
                                   <a href="javascript:;" onclick="batch_delete()" class="btn btn-blue btn-sm">
                                       <i class="fa fa-trash-o"></i> 批量删除</a>
                               </td>
                            </tr>
                        </script>
                        <tbody id="list-content"></tbody>
                    </table>
                    <div id="AjaxPage"></div>
                    <div class="pageInfo">
                        共{$count}条数据<span id="allpage"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!-- 加载动画 -->
<div class="spiner-example">
    <div class="sk-spinner sk-spinner-three-bounce">
        <div class="sk-bounce1"></div>
        <div class="sk-bounce2"></div>
        <div class="sk-bounce3"></div>
    </div>
</div>

{include file="public/footer" /}

<script type="text/javascript">
    //全选
    function all_select(){
        $('input[name="ids[]"]').iCheck('check');
    }

    //反选
    function inverse_select(){
        $('input[name="ids[]"]').iCheck('toggle');
    }

    //取消
    function cancel_select(){
        $('input[name="ids[]"]').iCheck('uncheck');
    }

    //批量删除
    function batch_delete(){
        var ids = '';
        var page = '';
        var flag=false;
        $('input[name="ids[]"]').each(function(){
            if($(this).is(':checked')){
                ids += ',' + $(this).val();
                page = $(this).attr('data-page');
                flag=true;
            }
        });
        if(!flag){
            layer.msg('请选择需要操作的记录', {icon: 5, time: 1500, shade: 0.1}, function (index) {
                layer.close(index);
            });
            return false;
        }
        layer.confirm('确认删除所选记录吗?', {icon: 3, title:'提示'}, function(index){
            ids = ids.substring(1);
            $.getJSON('{:url("apply/all_del_message")}', {'ids' : ids}, function(res){
                if(res.code == 1){
                    layer.msg(res.msg,{icon:1,time:1500,shade: 0.1},function(){
                        refresh_page(page);
                    });
                }else{
                    layer.msg(res.msg,{icon:0,time:1500,shade: 0.1});
                }
            });
            layer.close(index);
        })
    }
    /**
     * [Ajaxpage laypage分页]
     * @param {[type]} curr [当前页]
     */

    Ajaxpage({$cur_page});

    function Ajaxpage(curr){
        var name=$('#name').val();
        var phone = $('#phone').val();
        $.getJSON('{:url("apply/message")}', {
            page: curr || 1,name:name,phone:phone
        }, function(data){      //data是后台返回过来的JSON数据
			$(".spiner-example").css('display','none'); //数据加载完关闭动画
            if(data==''){
                $("#list-content").html('<td colspan="20" style="padding-top:10px;padding-bottom:10px;font-size:14px;text-align:center">暂无数据</td>');
            }else{
                var tpl = document.getElementById('list-template').innerHTML;
                laytpl(tpl).render(data, function(html){
                    document.getElementById('list-content').innerHTML = html;
                });
                $('#list-content').find("input[name='ids[]']").iCheck({checkboxClass:"icheckbox_square-green"});
                laypage({
                    cont: $('#AjaxPage'),//容器。值支持id名、原生dom对象，jquery对象,
                    pages:'{$allpage}',//总页数
                    skip: true,//是否开启跳页
                    skin: '#1AB5B7',//分页组件颜色
                    curr: curr || 1,
                    groups: 10,//连续显示分页数
                    jump: function(obj, first){
                        if(!first){
                            Ajaxpage(obj.curr)
                        }
                        $('#allpage').html('，第'+ obj.curr +'页，共'+ obj.pages +'页');
                    }
                });
            }
        });
    }
//查看留言
function view_message(id, page){
    var name=$('#name').val();
    var phone = $('#phone').val();
    location.href = '{:url("apply/view_message")}?id='+id+'&name='+name+'&phone='+phone+'&cur_page='+page;
}

//删除文章
function del_message(id, page){
    layer.confirm('确认删除此留言?', {icon: 3, title:'提示'}, function(index){
        $.getJSON('{:url("del_message")}', {'id':id}, function(res){
            if(res.code == 1){
                layer.msg(res.msg,{icon:1,time:1500,shade: 0.1},function(){
                    refresh_page(page);
                });
            }else{
                layer.msg(res.msg,{icon:0,time:1500,shade: 0.1});
            }
        });
        layer.close(index);
    })
}

//刷新当前页
function refresh_page(page){
    var name=$('#name').val();
    var phone = $('#phone').val();
    location.href = '{:url("apply/message")}?name='+name+'&phone='+phone+'&cur_page='+page;
}

</script>
</body>
</html>