{include file="public/header" /}
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>批量替换</h5>
                </div>
                <div class="ibox-content">
                    <form action="{:url('replace')}" method="post" class="form-horizontal" id="replace">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">选择栏目：</label>
                            <div class="input-group col-sm-1">
                                <select class="form-control input_wd2" name="cate_id" id='cate_id'>
                                    <option value="0">所有栏目分类</option>
                                    {volist name="cate" id="vo"}
                                    <option value="{$vo.id}">{$vo.lefthtml}{$vo.name}</option>
                                    {/volist}
                                </select>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">替换类别：</label>
                            <div class="input-group col-sm-8">
                                <div class="checkbox-box clearfix">
                                    <span><input type='checkbox' class="i-checks" name='classes[title]' value='1'> 标题</span>
                                    <span><input type='checkbox' class="i-checks" name='classes[intro]' value='1'> 简介</span>
                                    <span><input type='checkbox' class="i-checks" name='classes[content]' value='1'> 详细内容</span>
                                    <span><input type='checkbox' class="i-checks" name='classes[source]' value='1'> 来源</span>
                                    <span><input type='checkbox' class="i-checks" name='classes[writer]' value='1'> 作者</span>
                                    <span><input type='checkbox' class="i-checks" name='classes[website]' value='1'> 链接网址</span>
                                    <span><input type='checkbox' class="i-checks" name='classes[seo_title]' value='1'> 网页标题</span>
                                    <span><input type='checkbox' class="i-checks" name='classes[keyword]' value='1'> 网页关键字</span>
                                    <span><input type='checkbox' class="i-checks" name='classes[description]' value='1'> 网页描述</span>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">替换内容：</label>
                            <div class="input-group col-sm-10">
                                <span class="control-label" style="float:left;">原始内容</span>
                                <div class="col-sm-3"><textarea class="form-control" type="text" rows="2" name="oldtext" id="oldtext"></textarea></div>
                                <span class="control-label" style="float:left; padding-left:50px;">替换内容</span>
                                <div class="col-sm-3"><textarea class="form-control" type="text" rows="2" name="newtext" id="newtext"></textarea></div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="note-content">
                                <label class="note-title">备注：</label>
                                <div class="note-box">
                                    <div class="note-ico">
                                        <span class="fa-stack fa-lg">
                                           <i class="fa fa-circle-thin fa-stack-2x"></i>
                                           <i class="fa fa-exclamation fa-stack-1x"></i>
                                        </span>
                                    </div>
                                    <div class="note-text">
                                        <p>1、如原始内容为空，则替换内容将覆盖原始内容。</p>
                                        <p>2、如替换内容为空，则将原内容替换为空。</p>
                                        <p>3、如原内容在信息中未找到，则不会替换。</p>
                                        <p>4、信息替换后不可恢复，请慎重。</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2 button-group">
                                <button class="btn btn-warning" type="submit" style="padding:6px 20px;"> 确定 </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="public/footer" /}
<script type="text/javascript">
    $(function(){
        $('#replace').ajaxForm({
            beforeSubmit: checkForm,
            success: complete, // 这是提交后的方法
            dataType: 'json'
        });
        var load;
        function checkForm(){
            var flag=false;
            $(".checkbox-box input").each(function(){
                if($(this).is(':checked')){
                    flag=true;
                }
            });
            if(!flag){
                layer.msg('请选择替换类别', {icon: 5, time: 1500, shade: 0.1}, function (index) {
                    layer.close(index);
                });
                return false;
            }

            if ($.trim($('#oldtext').val()) == '' && $.trim($('#newtext').val()) == '')
            {
                layer.msg('原始内容和替换内容不能都为空', {icon: 5,time:1500,shade: 0.1}, function(index){
                    layer.close(index);
                });
                return false;
            }

            load = layer.load(0, {
                shade: [0.5,'#000'],
                content:'替换中...'
            });
        }

        function complete(data){
            layer.close(load);
            if(data.code == 1){
                layer.msg(data.msg, {icon: 6,time:1500,shade: 0.1}, function(index){
                    layer.close(index);
                    location.reload();
                });
            }else{
                layer.msg(data.msg, {icon: 5,time:1500,shade: 0.1}, function(index){
                    layer.close(index);
                });
                return false;
            }
        }

    });
</script>
</body>
</html>
