{include file="public/header" /}
<body class="gray-bg">
<style type="text/css">
    .article-box p{line-height: 36px; color:#999;}
</style>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-title article-hd">
            <h5>售后服务</h5>
        </div>
        <div class="ibox-content">        
            <div class="article-box">
                <p>电话：400-800-7469</p>
                <p>手机：18756906507</p>
                <p>邮箱：dl@hfcfwl.com</p>
            </div>
        </div>
        <div class="ibox-title article-hd">
            <h5>在线客服</h5>
        </div>
        <div class="ibox-content">
            <a href="http://wpa.qq.com/msgrd?v=3&uin=2881699082&site=qq&menu=yes" class="btn btn-w-m btn-danger" target="_blank">
                <i class="fa fa-qq"></i>
                客服1号专员
            </a>&nbsp;&nbsp;
            <a href="http://wpa.qq.com/msgrd?v=3&uin=2881699106&site=qq&menu=yes" class="btn btn-w-m btn-success">
                <i class="fa fa-qq"></i>
                客服2号专员
            </a>&nbsp;&nbsp;
            <a href="http://wpa.qq.com/msgrd?v=3&uin=2881699129&site=qq&menu=yes" class="btn btn-w-m btn-info">
                <i class="fa fa-qq"></i>
                客服3号专员
            </a>
        </div>
    </div>
</div>
<!-- End Panel Other -->

{include file="public/footer" /}

</body>
</html>