{include file="public/header" /}
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <!-- Panel Other -->
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>分类列表</h5>
        </div>
        <div class="ibox-content">
            <!--搜索框开始-->           
            <div class="row">
                <div class="col-sm-12">   
                <div class="col-sm-2 ibox-tit">
                    <div class="input-group" >  
                        <a href="{:url('add_cate')}"><button class="btn btn-primary" type="button">添加分类</button></a>
                    </div>
                </div>                                                                    
                </div>
            </div>
            <!--搜索框结束-->
            <div class="hr-line-dashed"></div>

            <div class="example-wrap">
                <div class="example">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr class="long-tr">
                                <th width="6%">ID</th>
                                <th>分类名称</th>
                                <th width="8%">排序</th>
                                <th width="12%">所属模型</th>
                                <th width="8%">导航显示</th>
                                <th width="8%">状态</th>
                                <th width="25%">操作</th>
                            </tr>
                        </thead>
                        <tbody id="article_list">
                            {foreach name="cate_tree" item="vo"}
                                <tr class="long-td" id="{$vo.lvl}_{$vo.id}">
                                    <td>{$vo.id}</td>
                                    <td class="cate_name edit-td"><span class="fa fa-minus-square-o {if $vo.hasChild eq 1}hasChild{/if}" style="margin-left:{$vo.leftpin}px;"></span><div class="updateText" onclick="toggleInput(this,{$vo.id},'name','article_cate')">{$vo.name}</div></td>
                                    <td class="edit-td"><div class="updateText" data-check="number" onclick="toggleInput(this,{$vo.id},'orderby','article_cate')">{$vo.orderby}</div></td>
                                    <td>{$vo.cateStyle_name}</td>
                                    <td>
                                        <input type="checkbox" name="isNav" data-id="{$vo.id}" data-table="article_cate" class="lcs_check lcs_switch lcs_sm" {if $vo.isNav eq 1}checked{/if}/>
                                    </td>
                                    <td>
                                        <input type="checkbox" name="status" data-id="{$vo.id}" data-table="article_cate" class="lcs_check lcs_switch lcs_sm" {if $vo.status eq 1}checked{/if}/>
                                    </td>
                                    <td>
                                        {if $vo.lvl lt $Think.config.max_cate_class}
                                        <a href="{:url('add_cate',['id'=>$vo.id])}" class="btn btn-warning btn-outline btn-xs">
                                            <i class="fa fa-plus"></i> 添加子类</a>&nbsp;&nbsp;
                                        {/if}
                                        <a href="{:url('edit_cate',['id'=>$vo.id])}" class="btn btn-blue btn-outline btn-xs">
                                            <i class="fa fa-pencil"></i> 编辑</a>&nbsp;&nbsp;
                                        <a href="javascript:;" onclick="del_cate({$vo.id})" class="btn btn-danger btn-outline btn-xs">
                                            <i class="fa fa-trash-o"></i> 删除</a>   
                                    </td>
                                </tr>
                            {/foreach}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Panel Other -->
{include file="public/footer" /}

<script type="text/javascript">
$(function(){
    $('.hasChild').click(function(){
        if($(this).hasClass('fa-minus-square-o')){
            $(this).removeClass('fa-minus-square-o').addClass('fa-plus-square-o');
        }else{
            $(this).removeClass('fa-plus-square-o').addClass('fa-minus-square-o');
        }
        rowClicked(this);
    });

    var wd = $('.cate_name').width();
    var span_wd = $('.cate_name span').outerWidth(true);
    $('.cate_name .updateText').width((wd-span_wd)*0.7);
});

function rowClicked(obj){
    var parent = $(obj).parents('.long-td');
    var is_show = $(obj).hasClass('fa-minus-square-o')? true : false;
    var cur_lvl = parent.attr('id').split("_");

    parent.nextAll().each(function(){
        $arr = $(this).attr('id').split("_");
        $lvl = $arr[0];
        if($lvl <= cur_lvl[0]){
            return false;
        }else{
            if(is_show){
                $(this).removeClass('hidden');
                $(this).find('.fa').removeClass('fa-plus-square-o').addClass('fa-minus-square-o');
            }else{
                $(this).addClass('hidden');
            }
        }
    });
}

function del_cate(id){
    layer.confirm('确认删除此分类?', {icon: 3, title:'提示'}, function(index){
        $.getJSON('./del_cate', {'id' : id}, function(res){
            if(res.code == 1){
                layer.msg(res.msg,{icon:1,time:1500,shade: 0.1},function(){
                    window.location.href="{:url('article/index_cate')}";
                });               
            }else{
                layer.msg(res.msg,{icon:0,time:1500,shade: 0.1});
            }
        });
        layer.close(index);
    })
}
</script>
</body>
</html>