{if $lists}
<div class="newsList">
    <ul>
        {volist name="lists" id="item"}
        <li>
            <h4><span>{$item.create_time|date="Y-m-d",###}</span><a href="{$item.url}" title="{$item.title}" {if $item.website neq ''}target="_blank"{/if}>{$item.title|leftstr=$cateParam[1]}</a></h4>
            {if $cateParam[2]}
            <div class="info">{$item.content|leftstr_html=$cateParam[3]}</div>
            <div class="i"><i class="iconfont icon-shijian"></i> 发表时间：{$item.create_time|date="Y-m-d",###} <span><i class="iconfont icon-liulan"></i> 浏览次数： {$item.views}</span></div>
            {/if}
        </li>
        {/volist}
    </ul>
</div>
<div class="page">{$lists->render()}</div>
{else/}
<div class="no-msg-tip">
    <img src="__IMG__/no-msg-img.png" />
    <p>暂无信息</p>
</div>
{/if}